<div>
  <%= form_tag listings_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a kimono"
  %>
  </div>
<div class="d-flex">
  <div class="form-group">
    <p>Color: </p>
    <%= select_tag :color, options_for_select(Listing::COLORS, params[:color]), include_blank: true %>
  </div>

  <div class="form-group">
      <p>Category: </p>
      <%= select_tag :category, options_for_select(Listing::CATEGORIES, params[:category]), include_blank: true %>
  </div>
</div>

<%= submit_tag "Search", class: "btn btn-red" %>
<% end %>
