<div class="col-xs-12 col-sm-12">
  <%= form_tag listings_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a kimono"
    %>
</div>


<div class="col-xs-12 col-sm-12">
  <div class="search-dropdowns">
    <div id="color-form">
      <p>Color: </p>
      <%= select_tag :color, options_for_select(Listing::COLORS, params[:color]), include_blank: true %>
    </div>
    <div id="category-form">
      <p>Category: </p>
      <%= select_tag :category, options_for_select(Listing::CATEGORIES, params[:category]), include_blank: true %>
    </div>
    <% end %>
    <%= submit_tag "Search", class: "btn btn-listing" %>
  </div>
</div>