<div class="container" >
  <div class="row">
    <div class="col-12 col-md-6">
    <div class="kimono">
      <% if @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key, height: 350, width: 300, crop: :fill %>
      <% else %>
      <%= image_tag "orange-hakama.jpg", class:"kimono-image"%>
      <% end %>
    </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="user_info">
        <h1><strong><%= @listing.title %> </strong> </h1>
        <p><%= @listing.color%> <%= @listing.category %></p>
        <p>¥<%= @listing.price %> <em> per day <em></p>
        <h3><%= @listing.average_rating %></h3>
        <div class="description">
          <%= @listing.description %>
        </div>
      </div>
      <div class="text-center">
        <div class="btn">
          <%= link_to 'Request Rental', new_listing_booking_path(@listing), class: "btn-red" %>
          <%= link_to 'Back to Listings', listings_path, class: "btn-gray" %>
          <!-- link to delete & edit   -->

        </div>
      </div>
    </div>
   </div>
</div>
