<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :return_date, as: :date, html5: true %>
  <%= f.submit "Add", class: 'btn btn-red'%>
<% end %>

<p>Total <%= @booking.total %></p>
