<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :return_date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.submit "Add", class: 'btn btn-red'%>
<% end %>

<!-- <p>Total <%= @booking.total %></p> -->
