<h1>My Bookings</h1>
<!-- <#% @orders.each do |order| %>
  <p>
  # <#%= order.id %>
  Date: <#%= order.start_date %>
  <#%= order.return_date %>
  Total: ¥<#%= order.total %></p>

<#% end %> -->
<% @bookings_as_renter.each do |booking| %>

  <% if booking.renter %>
  <!-- add borrower's avatar -->
  <p> # <%= booking.id %>
  Date: <%= booking.start_date %>
  <%= booking.return_date %>
  Total: <%= booking.total%>
  </p>
  <%= link_to "Approve", "/bookings/#{booking.id}/approve" %>
  <%#= link_to "Approve", approve_path(@booking) %>
  <%= link_to "Reject", reject_path(booking) %>
  <% if booking.approved? %>
    <p>Approved</p>
  <% elsif !booking.approved? %>
    <p>Rejected</p>
  <% else %>
    <p>Pending</p>
  <% end %>

<% else %>
  <%= booking.start_date %>
  <%= booking.return_date %>
  <% if booking.approved? %>
    <p>Approved</p>
  <% elsif !booking.approved? %>
    <p>Rejected</p>
  <% else %>
    <p>Pending</p>
  <% end %>
<% end %>


<% end %>

<h1>My orders</h1>

<% @bookings_as_borrower.each do |booking| %>
  <p> # <%= booking.id %>
  Date: <%= booking.start_date %>
  <%= booking.return_date %>
  Total: <%= booking.total %>
  Status: <% if booking.nil? %>
    Pending
  <% elsif booking.approved? %>
    Approved
  <% else %>
    Rejected
  <% end %>
  </p>

<% end %>